<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429625840135-r0vgiosjvgpm5sd4g6i7jgfl655s8djk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429625840135-r0vgiosjvgpm5sd4g6i7jgfl655s8djk</string>
	<key>API_KEY</key>
	<string>AIzaSyClGadTTb1_dyXIsH4QP_MZOJUwZlzhDN0</string>
	<key>GCM_SENDER_ID</key>
	<string>429625840135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenso</string>
	<key>PROJECT_ID</key>
	<string>expenso-1aa4a</string>
	<key>STORAGE_BUCKET</key>
	<string>expenso-1aa4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429625840135:ios:ccb4c948c8627b3731d0a2</string>
</dict>
</plist>